<!-- 渲染：阅读整篇文章 -->
<% const postDOMId = 'read-post' %>

<div style="height: 80px"></div>

<article id="<%= postDOMId %>" class="v-layout-75 p-4" style="display: grid; grid-template-rows: repeat(auto-fill, 1fr); grid-gap: 36px">
    <!-- Title -->
    <div class="level">
        <div class="level-left">
            <div class="media">
                <div class="media-content">
                    <h1 class="title is-4 modify-post-title">
                        <span class="has-text-info"><%- item.title || '标题缺失，务必添加 Title' %></span>
                    </h1>
                    <p class="subtitle is-6">
                        <span class="icon is-small"><i class="fa fa-calendar"></i></span> <%= item.date.format(config.date_format) %>
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <span class="icon is-small"><i class="fa fa-user"></i></span> <%- item.author ? item.author : config.author  %>
                    </p>
                </div>
            </div>
        </div>
        <!-- 文章标签 -->
        <div class="pt-4">
            <span><%- partial('post/article-tags', {item: item}) %></span>
            <span><%- partial('post/post-categories', {item: item}) %></span>
        </div>
    </div>
    <!-- 目录  -->
    <div>
        <%- toc(item.content) %>
    </div>
    <!-- 文章：内容 -->
    <div class="content pb-3" style="line-height: 2.86rem; font-size: 1.125rem">
        <hr />
        <!-- Content -->
        <%- item.content %>
    </div>
    <!-- 文章：声明 -->
    <%- partial('post/statement.ejs') %>
    <!-- 文章：文章切换 -->
    <%- partial('post/toggle.ejs') %>
</article>

<div style="height: 80px"></div>

<script>
    class PostEjs extends Blog{
        constructor() {
            super();
        }
    }
    const postEjs = new PostEjs();
</script>