<html lang="">
<!-- Head tag -->
<%- partial('_partial/head') %>
<body>
    <!-- section 1：顶部菜单 -->
    <%- partial('_partial/index/menu') %>
    <div id="blog-body">
        <%- body %>
    </div>

    <% if (page.title !== '碧海苍云录') { %>
        <!-- 悬浮操作按钮 -->
        <%- partial('_partial/post/post-flex-btn', { item: { id: 'blog-body' } }) %>
        <!-- 音乐播放器 -->
        <%- partial('_partial/music-player') %>
    <% } %>
</body>
</html>