<% let banner = [
    {
        tag: '官方',
        url: 'https://www.taptap.cn/moment/683612950686075704',
        img: url_for('img/bhcyl/狐狸v0.19.jpg'),
        title: '渡劫、幻化、还有帅气皮肤！《碧海苍云录》v0.19版本来了！',
        createTime: '06-23'
    }
] %>
<% const bhcylList = site.tags.data.find(item => item.name === '碧海苍云录').posts %>
<% banner.push({
    tag: '粥记捣蛋',
    title: bhcylList.data[0].title,
    url: url_for(bhcylList.data[0].path),
    img: url_for('img/bhcyl/bhcyl.19.jpg'),
    createTime: bhcylList.data[0].date.format('MM-DD')
}) %>

<div id="bhcyl-content" class="container">
    <section id="bhcyl-main" class="d-flex justify-start align-end">
        <div class="bhcyl-main-card box mbl" >
            <figure style="margin-bottom:20px">
                <img src="<%= url_for('img/bhcyl/bhcyl.jpg') %>" alt="1" class="skeleton"/>
            </figure>
            <% banner.forEach(item => { %>
                <div>
                    <span class="tag"><%= item.tag %></span>
                    <span
                            class="text-white"
                            style="cursor: pointer"
                            onclick="bhcylHome.method.bannerLink({ tag: '<%= item.tag %>', url: '<%= item.url %>' })"
                    ><%= item.title %></span>
                    <span class="text-white ml-3"><%= item.createTime %></span>
                </div>
            <% }) %>
        </div>
    </section>

    <section>
        <div style="padding-bottom: 60px">
            <%- partial('_partial/section-title', { item: { name: '碧海苍云录', color: 'white' } }) %>
        </div>

        <% bhcylList.forEach(item => { %>
            <div class="box mbl bp-card">
                <div
                        class="mbl d-flex justify-center align-center bp-mask"
                        onclick="bhcylHome.method.createALink(`<%= url_for(item.path) %>`)"
                >
                    <span style="font-size: 24px" class="bp-loader"></span>
                </div>
                <div style="">
                    <div class="text-white subtitle is-6" style="color: #dedede"><%= item.date %></div>
                    <div class="text-white title is-5" style="width: fit-content" onclick>
                        <% if(item.title.startsWith('碧海苍云录-')) { %>
                            <%= item.title.slice(6) %>
                        <% } else { %>
                            <%= item.title %>
                        <% } %>
                    </div>
                    <div class="box content">
                        <%- item.excerpt || '没有摘要，点进来看看吧' %>
                    </div>
                </div>
            </div>
        <% }) %>
    </section>
</div>

<style>
    section {
        min-height: calc(100vh - 121px);
        width: 100%;
        margin-bottom: 48px;
        padding: 0 1rem;
    }

    #bhcyl-content {
        height: 100%;
    }

    .bhcyl-main-card {
        min-width: 300px;
        max-width: 500px;
        line-height: 2;
    }

    .bp-card {
        width: 100%;
        position: relative
    }
    .bp-mask {
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100% !important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
        cursor: pointer;
    }
    .bp-card:hover .bp-mask {
        opacity: 1;
        visibility: visible;
    }

    /* HTML: <div class="loader"></div> */
    .bp-loader {
        width: fit-content;
        font-size: 40px;
        font-family: monospace;
        font-weight: bold;
        text-transform: uppercase;
        color: #0000;
        -webkit-text-stroke: 1px #00586d;
        background: conic-gradient(#00586d 0 0) -1ch/1ch 100% no-repeat text;
        animation: l13 2s steps(36,jump-none) infinite;
    }
    .bp-loader:before {
        content: "即刻阅读";
    }
    @keyframes l13 {
        to {background-position: 100%}
    }
</style>